body {
  font-family: "Lato", sans-serif;
}
a {
  color: #b71a4c;
}
.front-indicator {
  width: 100%;
  margin: 5px 32px 15px 32px;
  background-color: #f6f6f6;
  color: #adadad;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}

.container {
  margin: 0 auto;

  text-align: left;
}
.seat-stat-wrapper {
  width: 100%;
}
#legend {
  width: 49%;
  margin: 0 auto;
  float: left;
}
.booking-details {
  display: inline-block;
  text-align: right;
  font-size: 12px;
  width: 49%;
  margin: 0 auto;
}
@media screen and (max-width: 550px) {
  #legend {
    width: 100%;
  }
  .booking-details {
    width: 100%;
    text-align: left;
  }
}
.booking-details h2 {
  margin: 25px 0 20px 0;
  font-size: 17px;
}
.booking-details h3 {
  margin: 5px 5px 0 0;
  font-size: 14px;
}
div.seatCharts-cell {
  color: #182c4e;
  height: 25px;
  width: 25px;
  line-height: 25px;
}
div.seatCharts-seat {
  color: #ffffff;
  cursor: pointer;
}
div.seatCharts-row {
  height: 35px;
}
div.seatCharts-seat.available {
  background-color: #b9dea0;
}
div.seatCharts-seat.available.vip-class {
  background-color: #4d8cda;
}
div.seatCharts-seat.available.standard-ground-class {
  background-color: rgb(238, 75, 25);
}
div.seatCharts-seat.available.standard-balcony-class {
  background-color: rgb(240, 222, 64);
}
div.seatCharts-seat.available.student-class {
  background-color: rgb(151, 199, 238);
}
div.seatCharts-seat.focused {
  background-color: #76b474;
}
div.seatCharts-seat.selected {
  background-color: #e6cac4;
}
div.seatCharts-seat.unavailable {
  background-color: #472b34;
}
.seat-chart-wrapper {
  /*   width: 600px; */
  overflow: scroll;
}
div.seatCharts-container {
  border-right: 1px dotted #adadad;
  width: 1767px;
  padding: 20px;
}
div.seatCharts-legend {
  display: inline-block;
}

div.seatCharts-legend li {
  text-align: left;
}

ul.seatCharts-legendList {
  padding-left: 0px;
}
span.seatCharts-legendDescription {
  margin-left: 5px;
  line-height: 30px;
}
.checkout-button {
  border-radius: 26px;
  border: 3px solid rgb(229, 240, 243);
  padding: 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #73ad21;
}
#selected-seats {
  overflow-y: scroll;
  overflow-x: none;
}
