/* * Add any CSS you need to this file. */
html,
body {
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

.menu-bar {
  min-height: 8%;
  background-color: black;
}

 .navbar-brand {
  font-family: 'Merriweather', serif;
  color: white;
}
/*
.nav-link {
  font-family: 'Merriweather', serif;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  color: #fff;
} */
/* .menu-bar {
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
} */
.card{
  border: none !important;
}
.card-img-top{
  opacity: 0.3;
}
.card-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-family: 'Merriweather', serif;
}
.info p {
  font-size: 28px;
  color: white;
  font-family: 'Merriweather', serif;
}

.info {
  color: #fff;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

footer {
  background: black;
  padding-top: 2%;
  margin-top: 15px;
  position: relative;
}

.text-center h4 {
  color: #fff;
}

footer span {
  padding: 0.3em 0.7em;
  color: #fff;
  transition: all 0.5s ease;
}

footer p {
  color: #fff;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}