/* * Add any CSS you need to this file. */
html,
body {
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-family: 'Merriweather', serif;
  color: white;
}

.nav-link {
  font-family: 'Merriweather', serif;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  color: #fff;
}

.menu-bar {
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hairsalon.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.info h1 {
  font-size: 36px;
  color: white;
  font-family: 'Merriweather', serif;
}

.info {
  color: #fff;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fas {
  color: black;
}

h1 {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
h1:hover {
  text-decoration: none;
}

/* Menu-items */

.item-container {
  position: relative;
  overflow: hidden;
}

.item-container:hover .item-img {
  transform: scale(1.1);
  opacity: 0.5;
}

/* add to cart btn */

button {
  padding: 7px 10px;
  background-color: #e36555;
  border-radius: 2px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

/*submit button*/

.main-btn {
  color: black;
  font-size: 1rem;
  border: 2px solid #555;
  transition: all 0.5s ease-in-out;
  float: right;
}

.main-btn:hover {
  color: #fff;
  border: 2px solid black;
  background: black;
}

/* restarunt info */

.footer-widget {
  min-height: 15%;
  background: white;
  display: inline-flex;
  color: black;
}

.line {
  border-right: 1px solid black;
}
.footer-title {
  font-family: 'Raleway', sans-serif;
  margin: 0.5rem 0;
}
.footer-text p {
  color: gray;
}
.footer-text {
  padding-left: 25px;
  font-size: 1.2em;
}

.footer-widget .fa {
  font-size: 2rem;
  color: black;
}

.row {
  margin: 0;
}

/* footer */

footer {
  background: black;
  padding-top: 2%;
  margin-top: 15px;
  position: relative;
}

.text-center h4 {
  color: #fff;
}

footer span {
  padding: 0.3em 0.7em;
  color: #fff;
  transition: all 0.5s ease;
}

footer p {
  color: #fff;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}

/* popup css */

/* .item-container{
  position: relative;
  margin: 0 auto;
  text-align:center;
  margin-top:100px;
} */

.container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.btn {
  padding: 20px 15px;

  border-radius: 3px;
  color: #fff;
  border: none;
  width: 300px;
  height: 150px;
}

.popup {
  width: 400px;
  height: 180px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  display: none;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.msg {
  font-size: 18px;
  line-height: 100px;
}
.options {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.options:hover {
  text-decoration: none;
}

#close {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  float: right;
  cursor: pointer;
  color: #ef5350;
}

.pick {
  float: left;
  width: 50%;
  background-color: #2ecc71;
  color: #fff;
}

.pick:hover {
  color: black;
  background-color: #2eb82e;
}

.reserve {
  float: left;
  width: 50%;
  background-color: #ff8080;
  color: #fff;
}
.reserve:hover {
  opacity: 1;
  background-color: #dddddd;
}

.options a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 15px 0px;
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}